<nav>
    <ul class="flex flex-wrap justify-center py-6 mr-6 gap-4">
        {% if page.fileSlug == "recipes" %}
            <li class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 whitespace-nowrap bg-green-200 text-green-700 rounded-full c-tag__tag--selected">{{ title }}{{ allRecipesLabel }}</li>
        {% else %}
            <li>
                <a class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 whitespace-nowrap bg-green-200 text-green-700 rounded-full" href="/recipes">{{ title }}{{ allRecipesLabel }}</a>
            </li>
        {% endif %}
        {% for tagItem in collections.tagList %}
            {% if selectedTag == tagItem %}
                <li class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 whitespace-nowrap bg-green-200 text-green-700 rounded-full c-tag__tag--selected">{{ tagItem }}</li>
            {% else %}
                <li>
                    <a class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 whitespace-nowrap bg-green-200 text-green-700 rounded-full" href="/tags/{{ tagItem | noEmoji | slug }}">{{ tagItem }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>