---
bodyClass: c-home
---

{% extends 'layouts/base.njk' %}

{% block content %}
    <section>
        <div class="">
            <h1>{{title}}{% if authorInTitle %} <span class="c-home__title-author">{{ site.author }}</span>{% endif %}</h1>
        </div>
    </section>

    <section>
        <div class="">
            {% set homeSearch = true %}
            {% include "components/search.njk" %}
        </div>
    </section>

    {% if collections[highlightedTag] %}
        <section class="">
            <div class="">
                <h2 class="">{{ highlightedTitle }}</h2>
                <div class="">
                    {% set favouriteRecipes = collections[highlightedTag] | limit(4) %}
                    {% for recipe in favouriteRecipes %}
                        <div class="">
                            {% recipeimage recipe.data.image, "class", recipe.data.title, "(min-width: 1150px) 25vw, (min-width: 850px) 33vw, (min-width: 550px) 50vw, 100vw" %}
                            <div class="">
                                <div>
                                    {% for tag in recipe.data.tags %}
                                        <abbr class="" title="{{ tag | noEmoji }}">{{ tag | onlyEmoji | safe }}</abbr>
                                    {% endfor %}
                                </div>
                                {% if recipe.data.time %}
                                    <div class="">
                                        {% include 'icons/time.svg' %}
                                        {{ recipe.data.time }}
                                    </div>
                                {% endif %}
                            </div>
                            <a class="" href="{{ recipe.url }}">
                                <h3 class="">{{ recipe.data.title }}</h3>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <a href="/tags/{{ highlightedTag | noEmoji | slug }}" class="c-home__highlighted-tag-link">{{ highlightedLinkText }}</a>
            </div>
        </section>
    {% endif %}
{% endblock %}