{% extends 'layouts/base.njk' %}

{% block content %}
    {% recipeimage image, "c-recipe__header-image", title, "100vw" %}
    <h1 class="font-sans">{{ title }}</h1>
    <section>
        <div class="">
            <div class="">
                {% for tag in tags %}
                    <a class="" href="/tags/{{ tag | noEmoji | slug }}">{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="flex">
                <div class="" x-data='{currentServings: {{ servings if not servings == "" else false }}, ingredients: "{{ ingredients | arrayToString }}".split("£") }'>
                    {% if time or not servings == "" %}
                        <div class="">
                            {% if time %}
                                <p>{% include "icons/time.svg" %}{{ time }}</p>
                            {% endif %}
                            {% if not servings == "" %}
                                <p>
                                    <template x-if="currentServings > 1">
                                        <button @click="currentServings -= 1" class="c-recipe__serving-button">
                                            -
                                            <span class="u-sr-only">Remove 1 serving</span>
                                        </button>
                                    </template>
                                    <span x-text="currentServings"></span>
                                    <button @click="currentServings += 1" class="c-recipe__serving-button">
                                        +
                                        <span class="u-sr-only">Add 1 serving</span>
                                    </button>
                                    <span>{{ site.servingsLabel }}</span>
                                </p>
                            {% endif %}
                        </div>
                    {% endif %}

                    <h3>{{ site.ingredientsLabel }}</h3>
                    <template x-if="currentServings">
                        <ul class="">
                            <template x-for="(ingredient, index) in ingredients" :key="index">
                                <li x-text="adaptQuantity(ingredient, {{servings}}, currentServings)"></li>
                            </template>
                        </ul>
                    </template>

                    <template x-if="!currentServings">
                        <ul class="">
                            {% for ingredient in ingredients %}
                                <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    </template>
                </div>

                <div class="">
                    {% if sourceLabel and sourceURL %}
                        <p>Source : <a href="{{ sourceURL }}" target="_blank" rel="noopener">{{ sourceLabel }}</a></p>
                    {% endif %}
                    {{ content | safe }}
                </div>
            </div>
        </div>
    </section>

    <script>
        function adaptQuantity (ingredient, originalServings, currentServings) {
            return ingredient.replace(/(\d|\.|,)+/, match => Number(Math.round(parseFloat(match) * currentServings / originalServings + 'e' + 2) + 'e-' + 2));
        }
    </script>
{% endblock %}