{% extends 'layouts/base.njk' %}

{% block content %}
    <main class="no-prose">
        <section>
            <div class="">
                {% if recipe.data.tags|length %}
                    <h1>{{ selectedTag }}{{ title }}</h1>

                    {% if not selectedTag %}
                        {% include 'components/taglist.njk' %}
                    {% endif %}
                {% endif %}
            </div>
        </section>
        <section class="">
            <div class="">
                <ul class="grid gap-4 grid-cols-3">
                    {% for recipe in collections.recipes %}
                        {% if recipe.data.tags|length %}
                        
                            {% if not selectedTag or selectedTag in recipe.data.tags %}
                            <li class="border border-red-200 rounded-sm group">
                                <div class="relative">
                                    {% recipeimage recipe.data.image, "my-0", recipe.data.title, "(min-width: 1150px) 25vw, (min-width: 850px) 33vw, (min-width: 550px) 50vw, 100vw" %}
                                    <div class="absolute inset-0 flex items-center flex-col opacity-0 group-hover:opacity-100 transition-all">
                                        <div class="absolute inset-0 backdrop-blur bg-slate-800 opacity-80"></div>
                                        <div class="absolute inset-0 p-4 text-white">
                                            {% if recipe.data.time %}
                                                <div class="">
                                                    {% include 'icons/time.svg' %}
                                                    {{ recipe.data.time }}
                                                </div>
                                            {% endif %}
                                            <a class="" href="{{ recipe.url }}">
                                                <h3 class="font-serif text-xl">{{ recipe.data.title }}</h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                {# {% for tag in recipe.data.tags %}
                                    <abbr class="" title="{{ tag | noEmoji }}">{{ tag | noEmoji | safe }}</abbr>
                                {% endfor %} #}
                            </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>
        {% if selectedTag %}
            <section>
                <div class="">
                    {% include 'components/taglist.njk' %}
                </div>
            </section>  
        {% endif %}
    </main>
{% endblock %}