---
bodyClass: prose mx-auto max-w-5xl
---

{% extends 'layouts/base.njk' %}

{% block content %}
    {% recipeimage image, "c-recipe__header-image", title, "100vw" %}
    <h1 class="font-sans">{{ title }}</h1>
    <section>
        <div class="">
            {% if tags|length %}    
                <div class="">
                    {% for tag in tags %}
                        <a class="" href="/tags/{{ tag | noEmoji | slug }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="flex gap-4">
                <div class="lg:w-4/12" x-data='{currentServings: {{ servings if not servings == "" else false }}, ingredients: "{{ ingredients | arrayToString }}".split("£") }'>
                    {% if time or not servings == "" %}
                        <div class="">
                            {% if time %}
                                <p>{% include "icons/time.svg" %}{{ time }}</p>
                            {% endif %}
                            {% if not servings == "" %}
                                <p class="flex items-center">
                                    <template x-if="currentServings > 1">
                                        <button @click="currentServings -= 1" class="group">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-hover:fill-slate-400 transition-colors">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                            </svg>
                                            <span class="sr-only">Remove 1 serving</span>
                                        </button>
                                    </template>
                                    <span x-text="currentServings" class=" px-2"></span>
                                    <button @click="currentServings += 1" class="group">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6  group-hover:fill-slate-400 transition-colors">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                        <span class="sr-only">Add 1 serving</span>
                                    </button>
                                    <span class="pl-2">{{ site.servingsLabel }}</span>
                                </p>
                            {% endif %}
                        </div>
                    {% endif %}

                    <h3>{{ site.ingredientsLabel }}</h3>
                    <template x-if="currentServings">
                        <ul class="">
                            <template x-for="(ingredient, index) in ingredients" :key="index">
                                <li x-text="adaptQuantity(ingredient, {{servings}}, currentServings)"></li>
                            </template>
                        </ul>
                    </template>

                    <template x-if="!currentServings">
                        <ul class="">
                            {% for ingredient in ingredients %}
                                <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    </template>
                </div>

                <div class="lg:w-8/12">
                    {% if sourceLabel and sourceURL %}
                        <p>Source : <a href="{{ sourceURL }}" target="_blank" rel="noopener">{{ sourceLabel }}</a></p>
                    {% endif %}
                    {{ content | safe }}
                </div>
            </div>
        </div>
    </section>

    <script>
        function adaptQuantity (ingredient, originalServings, currentServings) {
            return ingredient.replace(/(\d|\.|,)+/, match => Number(Math.round(parseFloat(match) * currentServings / originalServings + 'e' + 2) + 'e-' + 2));
        }
    </script>
{% endblock %}